<div id="<%= dom_id bus %>">
  <p>
    <strong>Busname:</strong>
    <%= bus.busname %>
  </p>

  <p>
    <strong>Bus no:</strong>
    <%= bus.bus_no %>
  </p>

  <p>
    <strong>Source route:</strong>
    <%= bus.source_route %>
  </p>

  <p>
    <strong>Destination route:</strong>
    <%= bus.destination_route %>
  </p>

  <p>
    <strong>Noofseat:</strong>
    <%= bus.noofseat %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= bus.arrival_time %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= bus.departuretime %>
  </p>
</div>
