<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <%= link_to "Bus Reservation System" ,root_path ,class:"nav-link text-dark font-weight-bold"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-between px-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <%= link_to "My Reservations" , showmyallreservation_path, class:"nav-link text-dark font-weight-bold" %>
      </li>
      <% if current_user.present? %>
        <% if current_user.user_type == "busowner" %>
          <li class="nav-item">
            <%= link_to "My Buses" , myallbuses_path, class:"nav-link text-dark font-weight-bold" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <ul class="navbar-nav mr-auto ">
      <% if current_user.present? == false %>
        <li class="nav-item">
          <%= link_to "signin" ,new_user_session_path, class:"btn btn-success" %>
        </li>
        <li class="nav-item">
          <%= link_to "signUp" ,new_user_registration_path, class:"btn btn-primary" %>
        </li>
      <% end %>
      <% if current_user.present? %>
        <li class="nav-item">
          <%= link_to "SignOut",destroy_user_session_path,class:"nav-link text-dark font-weight-bold", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } ,class:"btn btn-primary"%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>