<%= @noofbookedseat %>
<div class:"flex" style= "display:flex; width:100%; justify-content:space-between">
  <form action="<%= searchbus_path %>" method="get">
    <div class="form-row" >
      <div class="form-group">
        <label>Source</label>
        <input type="text" class="form-control" style= "width:250px;" id="source" name="source" ><br/>
        <label>Destination</label>
        <input type="text" class="form-control" style= "width:250px;" id="destination" name="destination"><br/>
      </div>
      <div class="form-group">
        <label>Busname</label>
        <input type="text" class="form-control" id="bus_name" name="bus_name" style= "width:250px;">
        <br/>
        <label>Date Of Journey</label>
        <input type="date" class="form-control" id="dateofjourney" name="dateofjourney" style= "width:250px;" min="<%= Date.today %>" value="<%= Date.today %>">
      </div>
      <div class="form-group">
        <br/><br/><br/>
        <button type="submit" class="btn btn-primary">Search </button>
      </div>
    </div>
  </form>
</div>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="h5">S.No.</th>
      <th scope="col" class="h5">Available Buses</th>
      <th scope="col" class="h5">Source Routes</th>
      <th scope="col" class="h5">Destination Routes</th>
      <% if @seataval.size != 0 %>
        <th scope="col" class="h5">Available Seat</th>
      <% end %>
      <th scope="col" class="h5">Book Ticket</th>
    </tr>
  </thead>
  <tbody>
    <% noofbus = 1 %>
    <% @buses.each do|bus| %>
        <tr>
          <th scope="row"><%= noofbus%></th>
         
          <td><%= bus.busname %></td>
          <td><%= bus.source_route %></td>
          <td><%= bus.destination_route %></td>
          <% if @seataval.size != 0 %>
            <td><%= @seataval[noofbus-1] %></td>
          <% end %>
          <td><%=link_to "BookNow" ,new_bus_reservation_path(bus) ,class:"btn btn-success"%></td>
        </tr>
        <% noofbus = noofbus+ 1 %>
    <% end %>
  </tbody>
</table>

<style>
  .form-row
  {
    display:flex;
    gap:30px;
  }


</style>