<h1>Delete Specific Seat</h1><br/><br/>

<form id="delete-travellers-form">
    <input type="hidden" id="bus_id" name="bus_id" value= <%= params[:bus_id] %>>
    <input type="hidden" id="reservation_id" name="reservation_id" value=<%=params[:reservation_id]%>>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="h5">S.No.</th>
      <th scope="col" class="h5">seatNo</th>
      <th scope="col" class="h5">select to cancel</th>
    </tr>
  </thead>
  <tbody>
    <% nooftrav = 1 %>
    <% @trav.each do|t| %>
        <tr id="trav<%= t.id %>">
          <th scope="row"><%= nooftrav%></th>
          <td><%= t.seat_id %></td>
          <td><input type="checkbox" class="form-check-input trav-select-check" id="trav_<%= t.id%>" data-trav-id="<%= t.id %>" style="border: 1px solid black;"></td>
          <% nooftrav = nooftrav+ 1 %>
        </tr>
    <% end %>
  </tbody>
</table>
<button type="button" id= "delete-travellers" style="display:none;" class="btn btn-danger">Cancel Ticket</button>

<script>

$(document).ready(function(){
  var counter = 0;
  var busId = $("#bus_id").val(); // Get bus_id from hidden field
  var reservationId = $("#reservation_id").val(); // Get reservation_id from hidden field

  $('.trav-select-check').on('click', function(){
      if ($(this).prop('checked')) {
          counter += 1;
          $("#delete-travellers").show();
      } else {
          counter -= 1;
          if (counter <= 0) {
              $("#delete-travellers").hide();
          }
      }
  });

  $("#delete-travellers").on('click', function(){
      var travIds = [];

      $(".trav-select-check").each(function(){
          if ($(this).prop('checked')) {
              travIds.push($(this).data('trav-id'));
          }
      });

      // Confirmation dialog
      if (confirm("Are you sure you want to delete selected travellers?")) {
          // If confirmed, proceed with the AJAX request
          $.ajax({
              url: "/buses/" + busId + "/reservations/" + reservationId + "/travellers/bulk_delete_travellers",
              type: 'DELETE',
              data: {
                  trav_ids: travIds,
                  bus_id: busId,
                  reservation_id: reservationId
              }
          }).done(function(response) {
              // Handle response if needed
          }).fail(function(jqXHR, textStatus, errorThrown) {
              // Handle error if needed
          });
      }
  });
});







</script>