<h1 align="center">Book Seat in Bus</h1>
<h2 align="center">Bus Name: <%= @bus.busname %></h2>

<div class="container-main">

  <%= form_with(url: new_bus_reservation_path(@bus), local: true, id: "dateForm", method: :get, class: "field", data: { action: 'submit->form#submitForm' }) do |form| %>
    <%= form.label :date_of_journey, id: "labeldoj" %>
    <% if(params[:dateofjourney] == nil) %>
      <%= form.date_field :dateofjourney, id: "dateofjourney", min: Date.today.strftime('%Y-%m-%d'), required: true, onchange: "submitDateForm()" %>
    <% else %>
      <%= form.date_field :dateofjourney, id: "dateofjourney", min: Date.today.strftime('%Y-%m-%d'), value: params[:dateofjourney], required: true, onchange: "submitDateForm()" %>
    <% end %>
    <% form.submit %>
  <% end %>
  <br/><br/>

  <%= form_with(model: [@bus, @reservation], class: "field", url: "/buses/#{@bus.id}/reservations") do |form| %>
    <%= form.hidden_field :dateofjourney, value: params[:dateofjourney] %>
    <div class="container">
      <div class="main">
        <% @bus.noofseat.times.each do |seat_no| %>
          <div class="child">
            <% if CheckSeatIsBooked?(seat_no + 1, @bus.id, params[:dateofjourney]) == true %>
              <%= form.label :"#{seat_no + 1}" %>
              <%= check_box_tag "reservation[selected_seats][]", seat_no + 1, nil, checked: true, disabled: true, class: "check", onchange: "handleCheckboxChange(event)" %>
            <% else %>
              <%= form.label :"#{seat_no + 1}" %>
              <%= check_box_tag "reservation[selected_seats][]", seat_no + 1, nil, class: "check", onchange: "handleCheckboxChange(event)" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <br/><br/>
      <div id="inputContainer"></div>
      <div class="actions">
        <%= form.submit "Book Seat", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<style>
  .container-main {
    width: 100%;
    display: flex;
    margin-top: 5%;
  }
  .field {
    width: 50%;
  }
  .field:nth-child(1) {
    padding: 0 10%;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
  }
  .child {
    border: 1px solid black;
    padding: 10px 2px;
    display: grid;
    place-items: center;
  }
  .check {
    padding: 5px;
    width: 20px;
    height: 20px;
  }
  #dateofjourney {
    margin: 0 0 0 10px;
    padding: 10px;
  }
  #labeldoj {
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
  }
</style>

<script>
  function handleCheckboxChange(event) {
    var checkbox = event.target;
    var checkboxID = checkbox.value;
    var inputFieldName = "seat_" + checkboxID;

    if (checkbox.checked) {
      var inputContainer = document.getElementById("inputContainer");
      var inputField = document.createElement("input");
      inputField.type = "text";
      inputField.value = checkboxID;
      inputField.name = "reservation[travellers_attributes][][seat_id]";
      inputField.className = "form-control";
      inputField.id = inputFieldName;
      inputField.readOnly = true;
      inputContainer.appendChild(inputField);
    }
    else
    {
      var inputFieldToRemove = document.getElementById(inputFieldName);
      if (inputFieldToRemove)
      {
        inputFieldToRemove.remove();
      }
    }
  }


  function submitDateForm() {
    document.getElementById("dateForm").submit();
  }
</script>